################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApiCanalDevNetCore/FileContentIndex
/.vs
/WebApi/obj
/WebApi/bin
